// Custom.scss
@import "../bootstrap/scss/_bootstrap";
// 1. Подключение функций Bootstrap (so you can manipulate colors, SVGs, calc, etc)
//@import "../bootstrap/scss/functions";
// 2. Наши переменные
$section2-color: #FED34F;
$section3-color: #077D22;
$section5-color: #42413E;
$section5-2-color: #ADADAD;
$section5-3-color: #A18430;
$fond-color: #010101;
$font-main-color: #FFFFFF;
$header-color: #76c889;
$font-logo-color: rgb(3, 30, 106);
$font-size-base: 16px;

$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-l-min: 1200px;
// Large desctops
$screen-xl-min: 2400px;




// 3. Подключение необходимых таблиц стилей Bootstrap. (including any separate color mode stylesheets)
//@import "../bootstrap/scss/variables";
//@import "..//bootstrap/scss/variables-dark";
// 4. Наши переопределения maps, заданых по умолчанию.
// 5. Подключение необходимых деталей Bootstrap 
//@import "../bootstrap/scss/maps";
//@import "../bootstrap/scss/mixins";
//@import "../bootstrap/scss/root";
// 6. Не обязательные детали Bootstrap.
//@import "../bootstrap/scss/utilities";
// @import "../bootstrap/scss/reboot";
// @import "../bootstrap/scss/type";
// @import "../bootstrap/scss/images";
// @import "../bootstrap/scss/containers";
// @import "../bootstrap/scss/grid";
// @import "../bootstrap/scss/helpers";
// 7. Не обязательная API утилита для создания классов на основе карты Sass в `_utilities.scss`
// @import "../bootstrap/scss/utilities/api";
// 8. Наш код здесь


//Header
.header-custom {
    background-color: $header-color;
}

.container-fluid__header {
    max-width: 85%;
}

.logo_container {
    display: flex;
    flex-direction: column;
    padding: 1% 0;
}

.logo-image {
    height: 7vh;
    margin-right: 5%;
}

.name_logo {
    display: flex;
    flex-direction: column;
}

.name_logo1 {
    font-size: 1.5rem;
    font-weight: 500;
    color: $font-logo-color;
    text-transform: uppercase;

}

.name_logo2 {
    font-size: 0.7rem;
    font-weight: 500;
    color: $font-logo-color;
    text-transform: uppercase;
}

.nav-font-custom {
    color: $font-logo-color;
    font-size: 1.5rem;
}

.phone_number {
    display: flex;
    height: 3rem;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    background-color: $font-logo-color;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 500;
    border: none;
    border-radius: 10px;
}

.phone_number:hover {
    color: $header-color;
}

.help_header:hover {
    background-color: $font-main-color;
}

.help_header {
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    color: $font-logo-color;
    font-weight: 500;
    font-size: 1.5rem;
    border: 2px solid $font-logo-color;
    border-radius: 10px;
    background-color: transparent;
}

//Бургер-меню

.burger-menu {
    align-self: flex-start;
}

#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 5% 5% 5%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 120;
}

.menu__btn-line,
.menu__btn-line::before,
.menu__btn-line::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}

.menu__btn-line::before {
    content: '';
    top: -8px;
}

.menu__btn-line::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 100;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #cfd8dc;
}

#menu__toggle:checked~.menu__btn>.menu__btn-line {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>.menu__btn-line::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>.menu__btn-line::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn-line,
.menu__btn-line::before,
.menu__btn-line::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
}

@media screen and (min-width:1400px) and (max-width:1700px) {
    .phone_number {
        width: 15%;
    }

    .help_header {
        width: 10%;
    }
}

//About

.font-about {
    color: $font-logo-color;
}

.text-about {
    color: $font-logo-color;
}

.education-inessa,
.education-inessa-1,
.education-inessa-2 {
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.svidetelstvo-1,
.svidetelstvo-2,
.svidetelstvo-3,
.svidetelstvo-4,
.svidetelstvo-5,
.svidetelstvo-6 {
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ystav-link {
    font-size: 2rem;
    margin-left: 50%;
    margin-right: 50%;
}

.ystav-1,
.ystav-2,
.ystav-3,
.ystav-4,
.ystav-5,
.ystav-6,
.ystav-7,
.ystav-8 {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#about {
    padding-top: 1%;
    background-image: url(../../img/integration-3527263_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-img {
    height: 40vh;
}


//Charity
.col-button__charity {
    background-color: $section3-color;
    padding-top: 6rem;
}

.container-fluid__charity {
    background-color: $section3-color;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.btn-outline-light {
    font-size: 3rem;
    border-radius: 25% 10%;
}

.col-text__charity {
    background-color: $section3-color;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: $font-main-color;
    margin-bottom: 1rem;
}

.container-fluid__charity {
    background-color: $section3-color;
}

.modal-text {
    font-size: 1rem;
}


@media screen and (max-width: $screen-lg-min) {

    .col-button__charity {
        padding-top: 1rem;
    }

    .btn-outline-light {
        padding-top: 1rem;
    }
}

//510-1210


//Employees

#employees {
    margin-bottom: 2%;
}

.link_button {
    text-decoration: none;
    color: white;
}

.sotrudniki {
    display: grid;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.header-sotrudniki {
    color: $font-logo-color;
}

//Programs
.text-title {
    color: $font-logo-color;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}

.container_word {
    display: block;
    width: 100%;
    color: $font-logo-color;
    font-size: 1.5rem;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;

}
.cards_grid {
    display: grid;
    gap: 2px;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.card_reboot_button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #FED34F;
    color: $font-logo-color;
    font-size: 1.5rem;
    text-decoration: none;
}

.card_presence_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #ADADAD;
    color: $font-logo-color;
    font-size: 1.5rem;
    text-decoration: none;
}

.card_camps_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #077D22;
    color: $font-logo-color;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
}

.card_management_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #EDFDFF;
    font-size: 1.5rem;
    color: $font-logo-color;
    text-align: center;
    text-decoration: none;
}

.card_consultation_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #eebf62;
    font-size: 1.5rem;
    color: $font-logo-color;
    text-align: center;
    text-decoration: none;
}

.card_therapy_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #077D22;
    font-size: 1.5rem;
    color: $font-logo-color;
    text-align: center;
    text-decoration: none;
}

.card_prevention_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #EDFDFF;
    font-size: 1.5rem;
    color: $font-logo-color;
    text-align: center;
    text-decoration: none;
}

.card_support_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #E9B730;
    font-size: 1.5rem;
    color: $font-logo-color;
    text-align: center;
    text-decoration: none;
}

.card_courses_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #ADADAD;
    font-size: 1.5rem;
    color: $font-logo-color;
    text-align: center;
    text-decoration: none;
}

.card_webinars_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #76B58B;
    font-size: 1.5rem;
    color: $font-logo-color;
    text-align: center;
    text-decoration: none;
}

// .card_reboot {
//     grid-area: reboot;
// }

// .card_presence {
//     grid-area: presence;
// }

// .card_camps {
//     grid-area: camps;
// }

// .card_management {
//     grid-area: management;
// }

// .card_consultation {
//     grid-area: consultation;
// }

// .card_therapy {
//     grid-area: therapy;
// }

// .card_prevention {
//     grid-area: prevention;
// }

// .card_support {
//     grid-area: support;
// }

// .card_courses {
//     grid-area: courses;
// }

// .card_webinars {
//     grid-area: webinars;
// }

@media screen and (max-width: 490px) {
    .cards_grid {
        width: 100%;
        gap: 0;
        grid-template-columns: 100%;
        grid-template-rows: repeat(10, 1fr);
        // grid-template-areas:
        //     "reboot"
        //     "presence"
        //     "camps"
        //     "management"
        //     "conultation"
        //     "therapy"
        //     "prevention"
        //     "suport"
        //     "courses"
        //     "webinars";
    }
}

@media screen and (min-width:491px) and (max-width: 820px) {
    .cards_grid {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        // grid-template-areas:
        //     "reboot presence"
        //     "camps management"
        //     "consultation therapy"
        //     "prevention support"
        //     "courses webinars";
    }
}

//Footer

.footer__year {
    color: $font-logo-color;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
}

.footer__block_navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 1.5rem;
    background-color: gray;
    padding-top: 2%;
    padding-bottom: 2%;
}

.footer__copy {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #077D22;
    text-align: center;
}


a.footer__block_navigation1 {
    display: block;
    text-decoration: none;
    color: white;
}

a.footer__block_navigation1:hover {
    text-decoration: underline;
}

@media screen and (min-width: 2400px) {
    html {
        font-size: 28px;
    }

    .container {
        max-width: 75%;
    }

    .phone_number {
        max-width: 15%;
    }

    .help_header {
        max-width: 10%;
    }

    .logo_container {
        max-width: 15%;
    }
}